[*]
charset=utf-8
end_of_line=crlf
trim_trailing_whitespace=false
insert_final_newline=false
indent_style=tab
tab_width=4

[{*.jhm,*.cscfg,*.jrxml,*.rng,*.wadcfgx,*.axml,*.wsdl,*.webref,*.fxml,*.myapp,*.svcmap,*.xslt,*.ant,*.xul,*.xsl,*.xsd,*.disco,*.jnlp,*.csdef,*.tld,*.xml}]
indent_style=space
indent_size=4

[{*.uplugin,*.json}]
indent_style=space
indent_size=2

[*.config]
indent_style=space
indent_size=4

[{*.csproj,*.ccproj,*.androidproj}]
indent_style=space
indent_size=4

[*.plist]
indent_style=space
indent_size=4

[.editorconfig]
indent_style=space
indent_size=4

